.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height:100vh;
  width:600px;
  margin:auto;
  font-size: calc(10px + 2vmin);
  background-color: aliceblue;
  opacity: 0.7;
  font-family: 'Open Sans', sans-serif;
  
}


.container {
  min-height: 100vh;
  display: flex;
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("img/70023109_p0.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





